<div class="container-fluid">
    <div class="row">
        <div class="col text-center" *ngFor="let employee of AllEmployees">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="employee.image" alt="Card image cap"
                style="height:210px;"
                >
                <div class="card-body">
                    <h5 class="card-title" style="font-size:20px; font-weight: 700; margin-bottom:25px;">{{employee.fonction | uppercase}}</h5>
                  <p class="card-text"><span>Name : </span> {{employee.name }} </p>
                  <p class="card-text" style="margin-bottom:40px"><span>Email : </span> {{employee.email}}</p>
                  <a style="cursor: pointer;" (click)="delete(employee.email)"><span class="material-icons">delete</span></a>
                </div>
              </div>
        </div>
       
    </div>
</div>